#about{
 width: 100%;
    height: 100%;
    display: flex;
    
}
.leftabout{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.cirele-line{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.cirele{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #7ad7ea;
    box-shadow: 2px  2px 20px #7ad7ea;
}

.line{
width: 2px;
height: 120px;
    background-color: aliceblue;

}
.aboutdetails{
display: flex;
flex-direction: column;
gap: 40px;
}

.aboutdetails ul {
    list-style: none;
}
.aboutdetails  h1{
   
    background: linear-gradient(to right, rgb(198, 42, 96),#fff);
    background-clip: text;
    color: transparent;

}
.aboutdetails ul li {
    color: #fff;
}
.aboutdetails span {
    color: #7ad7ea;
}